
.row.page-container
  .container-fluid
    .span3(style="margin-top:40px")
      .well
        ul.nav.nav-list
          li.nav-header
            |Boards
          li
            a(href="#/admin/boards") Boards
      .well
        ul.nav.nav-list
          li.nav-header
            |More Admin
          li
            a(href="#/admin/users") Users
          li
            a(href="#/admin/tasks") Tasks
          li
            a(href="#/admin/roles") Roles
          li
            a(href="#/admin/process-definitions") Process Definitions

    .span9
      h2 
        |Edit for&nbsp;
        span {{board.name}}

      form
        fieldset
          label Name
          input(type ="text",placeholder="3..30 characters",ng-model="board.name")
          span.help-block Please enter a name here.

          label States
          textarea( placeholder="state1,state2,state3",ng-model="board.states")
          span.help-block The states used for each lane. Comma separates, no spaces, case sensitive.

          label Captions
          textarea( placeholder="State 1 Caption,State 2 Caption,State 3 Caption",ng-model="board.captions")
          span.help-block The captions used for each lane. Comma separates
            
          button.btn.btn-primary( type="submit",ng-click="update(board)") Update Board
