
.row.page-container
  .container-fluid
    .span3(style="margin-top:40px")
      .well
        ul.nav.nav-list
          li.nav-header
            |Process Definitions
          li
            a(href="#/admin/process-definitions") Overview
      .well
        ul.nav.nav-list
          li.nav-header
            |More Admin
          li
            a(href="#/admin/users") Users
          li
            a(href="#/admin/tasks") Tasks
          li
            a(href="#/admin/roles") Roles

    .span9
      h2 
        |Form for&nbsp;
        span {{processDefinition.name}}

      p.alert.alert-block.alert-success(ng:show="processDefinition.hasSource")
        | Excel file has been uploaded.

      p.alert.alert-block(ng:show="!processDefinition.hasSource")
        |No Excel form has been uploaded yet. Each process definition is associated with an Excel form (in xslx format) that acts as the blue print.
      
      p Either drop a file into the area below, or press the Select Files button. Then press Upload Files.
      form
        fieldset
          #uploadContainer
            #dropArea(style="border: 1px black dashed;padding-top:30px;padding-bottom:30px;text-align:center")
              |Drag a (*.xlsx) file to here
            p File to upload
            .filelist(ng-repeat="currFile in uploader.files")
              |{{currFile.name}} ({{currFile.size}})

            a.btn.btn-small#pickfiles( href="javascript:;")  Select Files
            button.btn.btn-small#uploadfiles( ng-click="uploadFiles()") Upload Files


      p.alert.alert-block.alert-success(ng:show="processDefinition.hasLayout")
        | Layout file has been uploaded.

      p.alert.alert-block(ng:show="!processDefinition.hasLayout")
        |No Layout form has been uploaded yet. Each process definition is associated with an Excel form (in xslx format) that acts as the blue print.

      p Either drop a file into the area below, or press the Select Files button. Then press Upload Files.
      form
        fieldset
          #uploadContainerLayout
            #dropAreaLayout(style="border: 1px black dashed;padding-top:30px;padding-bottom:30px;text-align:center")
              |Drag a (*.json) file to here
            p File to upload
            .filelist(ng-repeat="currFile in uploaderLayout.files")
              |{{currFile.name}} ({{currFile.size}})

            a.btn.btn-small#pickfilesLayout( href="javascript:;")  Select Files
            button.btn.btn-small#uploadfilesLayout( ng-click="uploadFilesLayout()") Upload Files
