
.row(style="position:absolute;top:0px;bottom:50px;")
  .container-fluid
    .span3(style="margin-top:40px")
      .well
        ul.nav.nav-list
          li.nav-header
            |Process Definitions
          li
            a(href="#/admin/process-definitions") Overview
          li.active
            |Add a new one
      .well
        ul.nav.nav-list
          li.nav-header
            |More Admin
          li
            a(href="#/admin/users") Users
          li
            a(href="#/admin/tasks") Tasks
          li
            a(href="#/admin/roles") Roles

    .span9
      h2 Add a Process Definition
      p Process definitions mimic the bonita process definitions. They link a form with the respective bonita process. You still need to create the bonita process.


      form
        fieldset
          label Name
          input( type="text",placeholder="3..30 characters",ng-model="processDefinition.name")
          span.help-block Please enter a name here.

          label Description
          textarea( placeholder="0..1000 characters",ng-model="processDefinition.description")
          span.help-block Please enter a description here.

          label Createable By Roles
          input( type="text",placeholder="2..100 characters",ng-model="processDefinition.createableByRoles")
          span.help-block Please enter a list of roles that are allowed to create tasks based on this process type.

          label taskNamePrefix
          input( type="text",placeholder="2..100 characters",ng-model="processDefinition.taskNamePrefix")
          span.help-block Please enter a short prefix that is used to create names for tasks by appending a running number.

          label State Machine
          textarea( placeholder="",ng-model="processDefinition.stateMachine")
          span.help-block Please input the state machine code here.

          button.btn.btn-primary( type="submit",ng-click="create(processDefinition)") Create Process Definition
          