
.row.page-container
  .container-fluid
    .span3(style="margin-top:40px")
      .well
        ul.nav.nav-list
          li.nav-header
            |Process Definitions
          li
            a(href="#/admin/process-definitions") Overview
      .well
        ul.nav.nav-list
          li.nav-header
            |More Admin
          li
            a(href="#/admin/users") Users
          li
            a(href="#/admin/tasks") Tasks
          li
            a(href="#/admin/roles") Roles
          li
            a(href="#/admin/boards") Boards

    .span9
      h2 
        |Edit for&nbsp;
        span {{processDefinition.name}}

      form
        fieldset
          label Name
          input( type="text",placeholder="3..30 characters",ng-model="processDefinition.name")
          span.help-block Please enter a name here.

          label Description
          textarea( placeholder="0..1000 characters",ng-model="processDefinition.description")
          span.help-block Please enter a description here.


          label Createable By Roles
          input( type="text",placeholder="2..100 characters",ng-model="processDefinition.createableByRoles")
          span.help-block Please enter a list of roles that are allowed to create tasks based on this process type.

          label taskNamePrefix
          input( type="text",placeholder="2..100 characters",ng-model="processDefinition.taskNamePrefix")
          span.help-block Please enter a short prefix that is used to create names for tasks by appending a running number.

          label State Machine
          textarea( placeholder="",ng-model="processDefinition.stateMachine")
          span.help-block Please input the state machine code here.

          button.btn.btn-primary( type="submit",ng-click="update(processDefinition)") Update Process Definition
