
.row.page-container
  .container-fluid
    .span3(style="margin-top:40px")
      .well
        ul.nav.nav-list
          li.nav-header
            |Roles
          li.active
            |Overview
          li
            a(href="#/admin/roles/add") Add a new one
      .well
        ul.nav.nav-list
          li.nav-header
            |More Admin
          li
            a(href="#/admin/users") Users
          li
            a(href="#/admin/tasks") Tasks
          li
            a(href="#/admin/process-definitions") Process Definitions
          li
            a(href="#/admin/boards") Boards

    .span9

      h2
        span Roles&nbsp;
        a(href="#/admin/roles/add",style="font-weight:normal;font-size:smaller") Add a new one

      table.table-striped.table-hover
        thead
          tr
            th Name
            th Actions
        tbody
          tr(style="vertical-align:center;",ng-repeat='role in roles')
            td
              |{{role.name}}
            td
              button.btn.btn-warning(ng-click="deleteMe(role._id)") Delete

        