
.row.page-container
  .container-fluid
    .span3(style="margin-top:40px")
      .well
        ul.nav.nav-list
          li.nav-header
            |Tasks
          li.active
            |Overview
      .well
        ul.nav.nav-list
          li.nav-header
            |More Admin
          li
            a(href="#/admin/users") Users
          li
            a(href="#/admin/roles") Roles
          li
            a(href="#/admin/process-definitions") Process Definitions

    .span9

      h2
        span Tasks

      table.table-striped.table-hover
        thead
          tr
            th Name
            th State
            th Next State
            th Checked Out
            th Task Ended
            th Active
            th Waiting
            th Actions
        tbody
          tr(style="vertical-align:center;",ng-repeat='task in tasks')
            td
              |{{task.name}}
            td
              |{{task.state}}
            td
              |{{task.nextState}}
            td
              |{{task.checkedOutByUserId}}
            td
              |{{task.taskEnded}}
            td
              |{{task.totalActiveTimeAsString}}
            td
              |{{task.totalWaitingTimeAsString}}

            td
              a.btn(href="#/task/{{task._id}}?editAllStates=true") Edit Data
              a.btn(href="/api/tasks/{{task._id}}/excel") Download Excel (CSV)

        