h2
  span Users&nbsp;
  a(href="#/admin/users/add",style="font-weight:normal;font-size:smaller") Add a new one

table.table-striped.table-hover
  thead
    tr
      th(colspan=2) Name
      th Roles
      th Email

  tbody
    tr(style="vertical-align:center;",ng-repeat='user in users')
      td
          img(src="{{user.primaryEmail | gravatar }}",alt="{{user.displayName}}",style="width:30px; height:30px")
      td
        |{{user.username}}
      td
        |{{user.roles}}
      td
        |{{user.primaryEmail}}
