.row.page-container
  .container-fluid
    .span3(style="margin-top:40px")

    .span9
      h2 Change Your Password

      form
        fieldset
          label Password
          input( type="password",placeholder="6..20 characters",ng-model="user.password")
          span.help-block Please enter your password here.

          label Retype Password
          input( type="password",placeholder="6..20 characters",ng-model="user.retypePassword")
          span.help-block Please enter your password again.

          button.btn.btn-primary( type="submit",ng-click="update(user)") Update Password