.row.page-container
  .container-fluid
    .span3(style="margin-top:40px")
      .well
        ul.nav.nav-list
          li.nav-header
            |Users
          li
            a(href="#/admin/users") Overview
          li.active
            |Add a new one
      .well
        ul.nav.nav-list
          li.nav-header
            |More Admin
          li
            a(href="#/admin/process-definitions") Process Definitions
          li
            a(href="#/admin/tasks") Tasks
          li
            a(href="#/admin/roles") Roles
          li
            a(href="#/admin/boards") Boards

    .span9
      h2 Add a New User

      form
        fieldset
          label User Name
          input( type="text",placeholder="3..20 characters",ng-model="user.username")
          span.help-block Please enter a username here.
          label Password
          input( type="password",placeholder="6..20 characters",ng-model="user.password")
          span.help-block Please enter your password here.
          label Email
          input( type="email",placeholder="your@email.com",ng-model="user.primaryEmail")
          span.help-block Please enter your email here.

          button.btn.btn-primary( type="submit",ng-click="create(user)") Create User