
.row.page-container(style="bottom:65px;")
  .container-fluid
    .span12
      table(ng:show='currentUser', style='display: none;')
        tr(style='height: 10px;')
          td(style='height: 100%;')
            table.page
              tr
                td(style='vertical-align: top;', colspan='2')
                  table#board(ng:show='lanes.length > 0')
                    colgroup
                      col(width='{{laneWidth}}', ng:repeat='lane in lanes')
                    tr
                      th(ng:repeat='lane in lanes') {{lane_headings[lane]}}
                    tr
                      td(ng:repeat='lane in lanes')
                        .card(ng:repeat='card in cards[lane]', ng:class='card[3]')
                          span.desc(style='font-weight:bold;') {{card.desc}}
                          span(ng:show='card.ready', style="color:green") ✓
                          
                          p(style="clear:both",ng:show='!card.isOnHold')
                            span A: {{card.totalActiveTimeAsString}}
                            |&nbsp;
                            span W: {{card.totalWaitingTimeAsString}}
                          
                          p(style="font-size:10px;color:#555;")
                            span {{card.username}}

                          p(style="clear:both",ng:show='!card.isOnHold')
                            button.btn.btn-small.action-unonhold(style="white-space:nowrap;",ng:click='pull(card.id)',ng:show='card.canBePulled')
                              |Pull


                          p(style="clear:both",ng:show='card.isOnHold')
                            button.btn.btn-small.action-unonhold(style="white-space:nowrap;",ng:click='onunhold(card.id)',ng:show='card.canBeActivated')
                              |Reactivate
                            span(style="font-size:10px") &nbsp;Updated: {{card.updatedAt | date:'MM-dd HH:mm'}}

                          p(style="color:red;")
                            |{{card.message}}
                  
                  table.cycletimes.fullwidth(cellpadding='0', cellspacing='0', ng:show='true && lanes.length > 0')
                    colgroup
                      col(width='{{laneWidth}}', ng:repeat='lane in lanes')
                    tr
                      td( ng:repeat='lane in lanes2')
                        .cycle(ng:show='lane.name!="onhold"')
                          .time(style='padding-left:10px;padding-right:10px')
                            span T:&nbsp;
                            span(style='font-weight:bold') {{lane.totalTimeLabel}}
                            span &nbsp;A:&nbsp; 
                            span(style='font-weight:bold') {{lane.totalActiveTimeLabel}}
                            span &nbsp;W:&nbsp;
                            span(style='font-weight:bold') {{lane.totalWaitingTimeLabel}}


                  //tr
                    td(colspan='2')
                      table#vsm(ng:show='false && lanes.length > 0')
                        colgroup
                          col(width="{{colsLane.width}}",ng-repeat='colsLane in colsFromLanes')
                        
                        tr
                          td(class="{{tdLane.klass}}", ng-repeat='tdLane in tdFromLanes')
                            |{{tdLane.label}}

      div(style='text-align: center; display: none;', ng:show='currentUser == null')
        p Loading...
    .clear.clearfix
  .clear.clearfix

.row(style="position:absolute;bottom:0px;height:54px;background:#ddd;padding-top:8px;width:100%;margin:0")
  .container-fluid
    .span12(style="overflow-x:scroll")
      .bottom-button-row(style="vertical-align:center;white-space: nowrap;height:44px")
        span(style='font-size:16px') Actions:
        button.btn.btn-primary.action-next-task(style="white-space:nowrap;",ng:click='nextTask()')
          |Next Action
        button.btn.action-create-task-menu(ng:click='createMenu()') Tasks

        button.btn(ng:click='createTask(item._id)',ng:repeat='item in createableTasks',ng:show='false') Create {{item.name}} Task

