
p(ng-show="!currentTask.taskFormURL") No tasks loaded. Click "Next Action" to load a task

iframe(ng-show="currentTask.taskFormURL", src="currentTask.taskFormURL",frameborder="0",scrolling="no",seamless="seamless",style="width:100%;height:100%")
