.well
  ul.nav.nav-list
    li.nav-header
      |Help
    li
      a(href="#/help") Overview
    li
      a(href="#/help/setup") Setup
    li
      a(href="#/help/terms") Terms
.well
  ul.nav.nav-list
    li.nav-header
      |More Links
    li
      a(href="#/") Home
    li
      a(href="#/admin/users") Admin
