
.row(style="position:absolute;top:0px;bottom:50px;")
  .container-fluid(style="height:100%;width:100%;")
    .span3(style="margin-top:40px")
      include help-menu
    .span9
      .box(style="overflow:scroll;width:100%;height:100%")

        h2
          span Help
        p Welcome to Open Business. This app allows you to manage workflows in a simple and easy to use way. You work with well-known tools like Microsoft Excel but still retain a minimalist interface.
        h4 Let's get started!
        p 
          | Working with Open Business requires that you set up at least one form and a corresponding process. 
        ol
          li
            |Go to the 
            a(href="#/admin/process-definitions") Process Definition 
            | admin interface and add a process definition. Choose a short name as the name will appear in the "Create Task" buttons.
          li
            | Upload your Excel form. The form needs to be in xlsx format, and must contain the data in the first worksheet.
          li
            p Create a layout file from your Excel sheet. To do this you install this macro in your excel and invoke the create command. It will take some time (minutes, maybe half an hour) and give you a message when completed. Excel might seem unrespronsive, that is to be excpected. Once finished it creates a file in the folder where your document has been stored. 
            p 
              |You can download it, as a zipped file, from 
              a(href="/downloads/FormExportAddIn.zip") here
            p To use it simply open your worksheet, then open the unpacked FormExportAddIn file, allow macros to execute, and click run (see screenshot below)
            img(src="/img/help/VBMacro.jpg")

          li
            | Upload the file that you created in the previous step into the process definition.
          li
            | Create a corresponding process in bonita. 
        h4 General Flow
        h5 Creating a new Task
        p This instantiates both a new spreadsheet and a process instance in bonita.
        h5 Next Task
        p Retrieves a task (as determined by the current user) that can be worked on. 
        h5 Step completed
        p A user presses step completed to end the current step. The task is handed over to bonita and managed there.

