
.row(style="position:absolute;top:0px;bottom:200px;")
  .container-fluid
    .span3(style="margin-top:40px")
      include help-menu
    .span9

      h2
        span Terms

      h4 Form
      p 
        |A form is the document that you work with. Forms are exported from Microsoft Excel and uploaded to the system in the 
        a(href="#/admin/process-definitions") admin interface 
        |.
