
.row(style="position:absolute;top:0px;bottom:50px;")
  .container-fluid
    .span3(style="margin-top:40px")
      include help-menu
    .span9

      h2
        span Terms

      h4 Form
      p 
        |A form is the document that you work with. Forms are exported from Microsoft Excel and uploaded to the system in the 
        a(href="#/admin/process-definitions") admin interface 
        |.
      h4 Where can I download the Excel Addin
      p 
        |You can download it, as a zipped file, from 
        a(href="/downloads/FormExportAddIn.zip") here
      p To use it simply open your worksheet, then open the unpacked FormExportAddIn file, allow macros to execute, and click run (see screenshot below)
      img(src="/img/help/VBMacro.jpg")
